*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    /* padding: 20px; */
}

#container .lightblue{
    background-color: #add8e6;
    padding: 10px;
}
.menu{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #daa520;
}

.menu ul{
    display: flex;
    list-style-type: none;
    /* margin-right: 10px; */
}

.menu ul li{
    margin-right: 10px;
    justify-content: space-around;
}

.row{
    max-width:auto;
    margin-left: auto;
    margin-right: auto;
}
.aside{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.row-blue{
    background-color: #00008b;
    /* padding: 20px;
    display: flex;
    justify-content: center; */
}

.row-blue .pink-square{
    width: 400px;
    height: 200px;
    background-color: #ee82ee;
    align-items: center;
}
.light-pink{
    /* flex-grow: -1;ù */
    /* flex-grow: 1; */
    width: 300px;
    height: 200px;
    background-color: #1e90ff;
}

.sky-blue{
    width: 200px;
    height: 200px;
    background-color: #ffc0cb;

}

/* .aside>*{
    order: 1;
} */


/* .aside .row-grey{
    order: 1;
} */

.row .row-grey{
    background-color: #d3d3d3;
    /* width: 100%; */
    /* order: 1; */
}
.row-grey .light-pink{
    order: 1;
}

.row .row-grey .green{
    width: 500px;
    height: 300px;
    background-color: #228b22;
}

