*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

#container .lightblue{
    background-color: #add8e6;
    padding: 20px;
}
.menu{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #daa520;
    border: black;
    border-style: dashed;

}

#container .lightblue .menu img{
    border: black;
    border-style: dashed;
}

#container .lightblue .menu button{
    border: black;
    border-style: dashed;
}

.menu ul{
    display: flex;
    list-style-type: none;

}

.menu ul li{
    margin-right: 10px;
    justify-content: space-around;
    
}

.row{
    max-width:auto;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 20px;

}

.row-blue{
    background-color: #00008b;
}

.row-blue .pink-square{
    width: 400px;
    height: 200px;
    background-color: #ee82ee;
    align-items: center;
    border: black;
    border-style: dashed;

}
.light-pink{
    width: 300px;
    height: 200px;
    background-color: #1e90ff;
    border: black;
    border-style: dashed;
}

.sky-blue{
    width: 200px;
    height: 200px;
    background-color: #ffc0cb;
    border: black;
    border-style: dashed;

}


.row .row-grey{
    background-color: #d3d3d3;
}
.row-grey .light-pink{
    order: 1;
}

.row .row-grey .green{
    width: 500px;
    height: 300px;
    background-color: #228b22;
    border: black;
    border-style: dashed;
}

.row .row-black{
    background-color: #23272a;
    display: block;
}

.row .row-black .dark-pink{
    width: 160px;
    height: 300px;
    background-color: #f08080;
    border: black;
    border-style: dashed;
}

.row .row-black .teal-blue{
    width: 84px;
    height: 300px;
    background-color: #20b2aa;
    border: white;
    border-style: dashed;
}

footer{
    background-color: #23272a;
    padding: 20px;
    
}

.footer .footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer .footer-row{
    background-color: #7fffd4;
}




